:root {
  --brand-color: #40a798;
  --twitter-color: #1d9bf0;
  --github-color: #24292f;
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Meiryo, sans-serif;
}

.brand-color {
  background-color: var(--brand-color) !important;
}

.brand-color-text {
  color: var(--brand-color) !important;
}

html,
button,
input,
optgroup,
select,
textarea {
  /* Overwrite font-family defined in materialize.css */
  font-family: var(--base-font-family);
}

html {
  font-size: 14px;
  line-height: 1.7;
}

@media only screen and (min-width: 601px) {
  html {
    font-size: 14.5px;
    line-height: 1.8;
  }
}

@media only screen and (min-width: 993px) {
  html {
    font-size: 15px;
    line-height: 1.9;
  }
}

p {
  margin: 1.3em 0;
}

.material-icons {
  font-size: inherit;
}

.container {
  max-width: 980px;
}

.collapsible {
  width: 100%;
}

.collapsible-header {
  color: rgba(80, 80, 80, 0.85);
}

.collapsible-header:hover {
  background-color: #f0f0f0;
  color: inherit;
}

.active>.collapsible-header {
  color: inherit;
}

.active>.collapsible-header>.expand_more {
  display: none;
}

:not(.active)>.collapsible-header>.expand_less {
  display: none;
}

.collapsible-body {
  background-color: rgba(255, 255, 255, 0.67);
  padding: 1rem;
}

.twitter-icon {
  color: var(--twitter-color);
}

#twitter-link-nav {
  transform: translateX(15px);
}

#twitter-link-nav i {
  height: auto;
  vertical-align: middle;
}

#logo-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}

#logo-container img {
  width: auto;
  height: calc(100% - 30px);
}

#logo-container span {
  margin-left: 0.5rem;
  white-space: nowrap;
}

nav ul a {
  color: #444;
}

nav .sidenav-trigger {
  margin-left: 0;
}

.sidenav {
  width: auto;
}

#floating-menu-target {
  position: relative;
}

#floating-menu-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 15%;
  z-index: 10;
}

#floating-menu {
  position: sticky;
  top: calc(56px + 15px);
  margin: 1rem 5px;
  padding: 1.5rem 0.5rem;
}

@media only screen and (min-width: 601px) {
  #floating-menu {
    top: calc(64px + 15px);
  }
}

#return-to-top-button-target {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  z-index: 20;
}

#return-to-top-button-container {
  position: relative;
  width: 100%;
  height: 0;
}

#return-to-top-button {
  position: absolute;
  margin: 1rem 5px;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  #return-to-top-button {
    margin: 5px;
  }
}

.next-button {
  margin: 1rem 5px;
}

@media only screen and (max-width: 600px) {
  .next-button {
    margin: 5px;
  }
}

body .screen-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 56px);
}

@media only screen and (min-width: 601px) {
  body .screen-container {
    min-height: calc(100vh - 64px);
  }
}

.screen-container-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.parallax-container {
  height: auto;
}

.parallax-background {
  width: 100%;
  height: 200%;
  background-image: url("../images/background.png");
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row .col {
  display: flex;
  align-items: start;
}

.row .col:not(*[class*="offset-"]) {
  margin-left: 0;
}

.row .col.center {
  justify-content: space-evenly;
}

.row .col.vertical-center {
  align-items: center;
}

.row .col div {
  width: 100%;
}

table.fit {
  width: auto;
}

#index-banner {
  position: relative;
  z-index: 30;
}

#index-banner-name,
#index-banner-description,
#index-banner-button {
  visibility: hidden;
}

#index-banner-description {
  font-size: 2rem;
}

#index-banner-button>.pulse::before {
  background-color: rgba(255, 255, 255, 0.17);
}

.index-banner-block {
  margin: 5rem 0;
}

@media only screen and (max-width: 600px) {
  #index-banner-description {
    font-size: 1.3rem;
  }

  .index-banner-block {
    margin: 3.2rem 0;
  }
}

#last-updated-date {
  line-height: 3em;
}

.profile-item {
  width: 7em;
}

.history tr td {
  vertical-align: baseline;
}

.history tr td:first-child {
  white-space: nowrap;
}

.languages-level-description {
  padding-left: 10px;
}

#languages-level-border {
  border-bottom-color: rgba(255, 0, 0, 0.5);
}

#my-tech-stack {
  border-radius: 5px;
  padding: 5px;
}

.featured-button {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 1.85rem;
  min-width: 230px;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
}

.featured-button .fab {
  margin-right: 0.3em;
}

#github-link-repository {
  margin: 2rem 0;
  background-color: var(--github-color);
}

#twitter-link-contact {
  margin-bottom: 2rem;
  background-color: var(--twitter-color);
}

.footer-thanks-message {
  margin-top: 2rem;
  margin-bottom: 4rem;
}