.material-icons {
	font-size: inherit;
}

.brand-color {
	background-color: #40a798;
}
.brand-color-text {
	color: #40a798;
}

.container {
	max-width: 900px;
}

.nowrap {
	white-space: nowrap;
}

.collapsible {
	width: 100%;
}
.collapsible-body {
	padding: 1rem;
}

.twitter-icon {
	color: #1d9bf0;
}

#twitter-link-nav {
	transform: translateX(15px);
}
#twitter-link-nav i.fab.fa-twitter-square {
	display: inline;
	vertical-align: middle;
}

#twitter-link-contact {
	display: inline-block;
	margin-top: 5rem;
	padding: 1rem 2rem;
	border-radius: 1.85rem;
	background-color: #1d9bf0;
	color: #fff;
	font-size: 1.7rem;
	line-height: 1;
}

#logo-container {
	height: 100%;
}
#logo-container img {
	margin: 15px 0;
	width: auto;
	height: calc(100% - 30px);
}
#logo-container span {
	vertical-align: top;
}

nav ul a {
	color: #444;
}

.floating-menu-target {
	position: relative;
}
.floating-menu-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 15%;
	z-index: 10;
}
.floating-menu {
	position: sticky;
	top: calc(56px + 5px);
	margin: 0 5px 0 5px;
	padding: 0 0 0 5px;
}
@media only screen and (min-width: 601px) {
	.floating-menu {
		top: calc(64px + 5px);
	}
}

nav .sidenav-trigger {
	margin-left: 0;
}
.sidenav {
	width: auto;
}

body .screen-container  {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 56px);
}
@media only screen and (min-width: 601px) {
	body .screen-container  {
		min-height: calc(100vh - 64px);
	}
}
.screen-container-content {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: auto;
	height: auto;
}

.parallax-container {
	height: auto;
}
.parallax-background {
	width: 100%;
	height: 200%;
	background-image: url("../images/background.png");
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}
.row .col {
	display: flex;
	align-items: flex-start;
}
.row .col:not(*[class*="offset-"]) {
	margin-left: 0;
}
.row .col.center {
	justify-content: space-evenly;
}
.row .col.vertical-center {
	align-items: center;
}
.row .col div {
	width: 100%;
}

table.fit {
	width: auto;
}

#index-banner {
	position: relative;
}
#index-banner-name,
#index-banner-description,
#index-banner-button {
	visibility: hidden;
}

#scroll-down-button-block {
	margin: 3rem 0;
}

#last-updated-date {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.history tr td {
	vertical-align: baseline;
}

.history tr td:first-child {
	white-space: nowrap;
}

.languages-level-description {
	padding-left: 10px;
}

#languages-level-border {
	border-bottom-color: rgba(255, 0, 0, 0.5);
}

#my-tech-stack {
	border-radius: 5px;
	padding: 5px;
}

#footer-thanks-message {
	margin: 50px 0;
}

footer.page-footer {
	margin: 0;
}
